<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reechauto.cloud.news.mapper.NewsVersionMapper">
    <resultMap id="BaseResultMap" type="com.reechauto.cloud.news.entity.NewsVersion">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="version_num" jdbcType="VARCHAR" property="versionNum" />
        <result column="version_name" jdbcType="VARCHAR" property="versionName" />
        <result column="version_info" jdbcType="VARCHAR" property="versionInfo" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, version_num, version_name, version_info, create_time
    </sql>
    <select id="selectByExample" parameterType="com.reechauto.cloud.news.entity.NewsVersionExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from news_version
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limitStart != null and limitStart>=0">
            limit #{limitStart} , #{offset}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from news_version
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from news_version
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.reechauto.cloud.news.entity.NewsVersionExample">
        delete from news_version
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.reechauto.cloud.news.entity.NewsVersion">
        insert into news_version (id, version_num, version_name, 
            version_info, create_time)
        values (#{id,jdbcType=INTEGER}, #{versionNum,jdbcType=VARCHAR}, #{versionName,jdbcType=VARCHAR}, 
            #{versionInfo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.reechauto.cloud.news.entity.NewsVersion">
        insert into news_version
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="versionNum != null">
                version_num,
            </if>
            <if test="versionName != null">
                version_name,
            </if>
            <if test="versionInfo != null">
                version_info,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="versionNum != null">
                #{versionNum,jdbcType=VARCHAR},
            </if>
            <if test="versionName != null">
                #{versionName,jdbcType=VARCHAR},
            </if>
            <if test="versionInfo != null">
                #{versionInfo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.reechauto.cloud.news.entity.NewsVersionExample" resultType="java.lang.Long">
        select count(*) from news_version
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update news_version
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.versionNum != null">
                version_num = #{record.versionNum,jdbcType=VARCHAR},
            </if>
            <if test="record.versionName != null">
                version_name = #{record.versionName,jdbcType=VARCHAR},
            </if>
            <if test="record.versionInfo != null">
                version_info = #{record.versionInfo,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update news_version
        set id = #{record.id,jdbcType=INTEGER},
            version_num = #{record.versionNum,jdbcType=VARCHAR},
            version_name = #{record.versionName,jdbcType=VARCHAR},
            version_info = #{record.versionInfo,jdbcType=VARCHAR},
            create_time = #{record.createTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.reechauto.cloud.news.entity.NewsVersion">
        update news_version
        <set>
            <if test="versionNum != null">
                version_num = #{versionNum,jdbcType=VARCHAR},
            </if>
            <if test="versionName != null">
                version_name = #{versionName,jdbcType=VARCHAR},
            </if>
            <if test="versionInfo != null">
                version_info = #{versionInfo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.reechauto.cloud.news.entity.NewsVersion">
        update news_version
        set version_num = #{versionNum,jdbcType=VARCHAR},
            version_name = #{versionName,jdbcType=VARCHAR},
            version_info = #{versionInfo,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>